@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #2F2325, #8E5D52);
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabeçalho > nav > a {
    padding: 0px 30px;
    color: #FFF2E7;

}

.primeiro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}